<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/universal.css">
    <script src="js/universal.js"></script>
	
    <title>AEON BSD</title>
  </head>
  
  <body>
    <%- include('../layout/navbar.ejs'); %>
    
    <h1 class="title">AEON BSD</h1>
    <div class="mininfo">
      <img src="/image/ttd/Rating Star PNG/5star.png" alt=""> 
      <p></p>
      <p></p>
      &#8226;
      <p>Mall In Indonesia</p>
    </div>

    <div class="container">
       <div>
        <div class="about" style="width: 550px;">
            <h1>About</h1>
            <p>
                Shopping mall with home & fashion stores, a supermarket, an informal sushi restaurant & a cinema.
              </p>
                
                <p>Address&nbsp &nbsp:</p>
                
                <p>Jl. BSD Raya Utama, Pagedangan, Kec. Pagedangan, Tangerang, Banten 15345</p>
        
                <p>Call&nbsp &nbsp:</p>
        
                <p>(021) 29168585</p>
        
                <div class="button-container">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#operationalhours">
                    Operational Hours
                  </button>
                </div>
        
                <div class="modal fade" id="operationalhours" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <li>
                          <ol>Monday : 10.00 - 21.00</ol>
                          <ol>Tuesday : 10.00 - 21.00</ol>
                          <ol>Wednesday : 10.00 - 21.00</ol>
                          <ol>Thursday : 10.00 - 21.00</ol>
                          <ol>Friday : 10.00 - 21.00</ol>
                          <ol>Saturday : 10.00 - 21.00</ol>
                          <ol>Sunday : 10.00 - 21.00</ol>
                        </li>
                      </div>
                    </div>
                  </div>          
                </div>
        
                <p></p>
                <p>Visit Web&nbsp &nbsp:</p>
                <a href="https://aeonmall-bsdcity.com/en/index.php" target="_blank">Click Here</a>
        </div>

        <div class="smlinfo">
            <p>Owner: Alphonzus Widjaja</p>
            <p>Opened: May 30, 2015</p>
            <p>Province: Banten</p>
            <p>Number of stores and services: 300+</p>
            <p>Total retail floor area: 100,000 m2 (1,076,391 sq ft) (The Complex); 77,000 m2 (828,821 sq ft)</p>
            <p>No. of floors: 4 (Mall)</p>
        </div>
      </div>
      
      <div class="subcontainer">

          <div class="vidcon">
            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/2at03_Tr9-U" title="YouTube video player" >
            </iframe>
          </div>
      
          <div class="infocon">                
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="flex-basis: 20%;">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/image/ttd/shopping/gi1.2.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img src="/image/ttd/shopping/gi2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img src="/image/ttd/shopping/gi3.jpg" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>                 

            <iframe height="270" width="412" class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.6829207044943!2d106.6413259145893!3d-6.305325195436608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69faad1d959e1f%3A0xa02052b7ba6ab859!2sAEON%20Mall%20BSD!5e0!3m2!1sen!2sid!4v1632591187899!5m2!1sen!2sid" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        
          </div>
      </div>
    </div>

    <%- include('../layout/footer.ejs'); %>

    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </body>
</html>