<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="css/artikel.css">
</head>
<body>
    <%- include('../layout/navbar.ejs'); %>

    <div class="header">
        <img src="/image/artikel/curug.jpg" class="mx-auto d-block" alt="...">

        <h1>Beautiful Forest, Clear Skies-Why Nature
        Are One of the Many Wonders of Indonesia</h1>
        
        <p>
            Allow us to make the argument that any season—not only summer—is the ideal time to explore Indonesia's Nature. The climate allow us to have almost a perfect wather to do outdoor activities almost everyday and that gives you wide horizons, geological wonders, and perfect situation to go explore natural wonders of Indonesia. Here we outline some of the best ways to explore.
        </p>
    </div>

      <div class="article mx-auto d-block">
        <div class="story">
            <h4>Splash Around in these Beautiful Waterfall</h4>

            <img src="/image/artikel/curug2.jpg" class="mx-auto d-block" alt="...">

            <p>
                Still suffering through lingering heat waves? Cool off in Mother Nature's water park. These spots were made for swimming, kayaking, and blissed-out floating
            </p>
        </div>

        <button class="mx-auto d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="background-color:black; color: white; border-radius: 25px; margin-bottom: 50px; font-size: 20px; margin-top: 40px;">See the List</button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
              <h5 id="offcanvasRightLabel">Our Top Pick</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="main-content" style="margin: auto; margin-top: 5%;">
                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/Curug CIKASO Cibitung.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/curug CIKASO Cibitung 2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/curug CIKASO Cibitung 3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">1. Curug CIKASO Cibitung</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>

                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/Air terjun Sedudo1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Air terjun Sedudo2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Air terjun Sedudo3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">2. Air terjun Sedudo</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>

                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/Gitgit Waterfall1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Gitgit Waterfall2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Gitgit Waterfall3.png" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">3. Gitgit Waterfall</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <div class="story">
            <h4>Chilling in the Beach</h4>

            <img src="/image/artikel/PANTAI.jpg" class="mx-auto d-block" alt="...">

            <p>
              As an archipelagic country, Indonesia is blessed with millions of seas and beaches that are very charming.
            </p>
        </div>

        <button class="mx-auto d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight2" aria-controls="offcanvasRight" style="background-color:black; color: white; border-radius: 25px; margin-bottom: 50px; font-size: 20px; margin-top: 40px;">See the List</button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight2" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
              <h5 id="offcanvasRightLabel">Our Top Pick</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="main-content" style="margin: auto; margin-top: 5%;">
                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/Nihiwatu Beach1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Nihiwatu Beach2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Nihiwatu Beach3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">1. Nihiwatu Beach</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>

                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/Pink Beach1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Pink Beach2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Pink Beach3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">2. Pink Beach</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>

                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/Raja Ampat1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Raja Ampat2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Raja Ampat3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">3. Raja Ampat</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <div class="story">
            <h4>travel in the mountains</h4>

            <img src="/image/artikel/gunung.jpg" class="mx-auto d-block" alt="...">

            <p>
              Indonesian mountains that have an amazing charm.
            </p>
        </div>

        <button class="mx-auto d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight3" aria-controls="offcanvasRight" style="background-color:black; color: white; border-radius: 25px; margin-bottom: 50px; font-size: 20px; margin-top: 40px;">See the List</button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight3" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
              <h5 id="offcanvasRightLabel">Our Top Pick</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="main-content" style="margin: auto; margin-top: 5%;">
                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/Gunung Bromo1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Gunung Bromo2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Gunung Bromo3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">1. Gunung Bromo</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>

                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/Gunung Rinjani1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Gunung Rinjani2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Gunung Rinjani3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">2. Gunung Rinjani</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>

                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/Gunung Kerinci1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Gunung Kerinci2.jpg.crdownload" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Gunung Kerinci3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">3. Gunung Kerinci</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    <%- include('../layout/footer.ejs'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>