<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="css/artikel.css">
</head>
<body>
    <%- include('../layout/navbar.ejs'); %>

    <div class="header">
        <img src="/image/artikel/curug.jpg" class="mx-auto d-block" alt="...">

        <h1>An interesting selection of flora and fauna to enjoy a vacation with the family</h1>
        
        <p>
            The location of Indonesia which is flanked by two continents and two oceans makes Indonesia's geological condition very strategic. No wonder the variety of flora and fauna thrives and coexists with humans, thus becoming a priceless wealth.
        </p>
    </div>

      <div class="article mx-auto d-block">
        <div class="story">
            <h4>the beauty of animals and plants that exist on land in Indonesia</h4>

            <img src="/image/artikel/curug2.jpg" class="mx-auto d-block" alt="...">

            <p>
                Still suffering through lingering heat waves? Cool off in Mother Nature's water park. These spots were made for swimming, kayaking, and blissed-out floating
            </p>
        </div>

        <button class="mx-auto d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="background-color:black; color: white; border-radius: 25px; margin-bottom: 50px; font-size: 20px; margin-top: 40px;">See the List</button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
              <h5 id="offcanvasRightLabel">Our Top Pick</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="main-content" style="margin: auto; margin-top: 5%;">
                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/flora fauna/kebun raya bogor1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/flora fauna/kebun raya bogor2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/flora fauna/kebun raya bogor3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">1. kebun raya bogor</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>

                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/Air terjun Sedudo1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Air terjun Sedudo2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Air terjun Sedudo3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">2. Air terjun Sedudo</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>

                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/Gitgit Waterfall1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Gitgit Waterfall2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Gitgit Waterfall3.png" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">2. Gitgit Waterfall</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <div class="story">
            <h4>explore the ocean and its amazing contents</h4>

            <img src="/image/artikel/PANTAI.jpg" class="mx-auto d-block" alt="...">

            <p>
                 Indonesia as an archipelagic country where there is a lot of beauty throughout the sea
            </p>
        </div>

        <button class="mx-auto d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight2" aria-controls="offcanvasRight" style="background-color:black; color: white; border-radius: 25px; margin-bottom: 50px; font-size: 20px; margin-top: 40px;">See the List</button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight2" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
              <h5 id="offcanvasRightLabel">Our Top Pick</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="main-content" style="margin: auto; margin-top: 5%;">
                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/flora fauna/taman nasional bunaken1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/flora fauna/taman nasional bunaken2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/flora fauna/taman nasional bunaken3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">1. Taman Nasional Bunaken</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>

                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/Pink Beach1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Pink Beach2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Pink Beach3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">2. Pink Beach</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>

                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/Raja Ampat1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Raja Ampat2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/Raja Ampat3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">3. Raja Ampat</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>

    </div>

    <%- include('../layout/footer.ejs'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>