<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="css/artikel.css">
</head>
<body>
    <%- include('../layout/navbar.ejs'); %>

    <div class="header">
        <img src="/image/artikel/budaya/gambar gede 1.jpg" class="mx-auto d-block" alt="...">

        <h1>The diversity of cultures in Indonesia is very interesting to see</h1>
        
        <p>
            Indonesia has a very special cultural diversity. Each region in the archipelago has its own special food, dialect or language, as well as its own customs and traditions which are very interesting to explore.
        </p>
    </div>

      <div class="article mx-auto d-block">s
        <div class="story">
            <h4>Traditional village that still upholds customs</h4>

            <img src="/image/artikel/budaya/gambar gede 2.jpg" class="mx-auto d-block" alt="...">

            <p>
                Diverse villages with unique buildings that we can visit as tourist attractions and also learn there
            </p>
        </div>

        <button class="mx-auto d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="background-color:black; color: white; border-radius: 25px; margin-bottom: 50px; font-size: 20px; margin-top: 40px;">See the List</button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
              <h5 id="offcanvasRightLabel">Our Top Pick</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="main-content" style="margin: auto; margin-top: 5%;">
                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/budaya/Wae Rebo, Flores, Nusa Tenggara Timur 1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/budaya/Wae Rebo, Flores, Nusa Tenggara Timur 2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/budaya/Wae Rebo, Flores, Nusa Tenggara Timur 3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">1. Wae Rebo, Flores, Nusa Tenggara Timur
                            </h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>

                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/budaya/Kampung Naga, Tasikmalaya1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/budaya/Kampung Naga, Tasikmalaya2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/budaya/Kampung Naga, Tasikmalaya3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">2. Kampung Naga, Tasikmalaya
                            </h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>

                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/budaya/Desa Adat Praijing1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/budaya/Desa Adat Praijing2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/budaya/Desa Adat Praijing3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">3. Desa Adat Praijing</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <div class="story">
            <h4>A museum in the form of a traditional house</h4>

            <img src="/image/artikel/PANTAI.jpg" class="mx-auto d-block" alt="...">

            <p>
                A different museum, not in a modern style that makes you more familiar with Indonesia.
            </p>
        </div>

        <button class="mx-auto d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight2" aria-controls="offcanvasRight" style="background-color:black; color: white; border-radius: 25px; margin-bottom: 50px; font-size: 20px; margin-top: 40px;">See the List</button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight2" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
              <h5 id="offcanvasRightLabel">Our Top Pick</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="main-content" style="margin: auto; margin-top: 5%;">
                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/budaya/Museum Adityawarman1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/budaya/Museum Adityawarman2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/budaya/Museum Adityawarman3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">1. Museum Adityawarman</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>

                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/budaya/Museum Balaputra Dewa1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/budaya/Museum Balaputra Dewa2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/budaya/Museum Balaputra Dewa3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">2. Museum Balaputra Dewa</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>

                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/budaya/Museum Soeharto1.png"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/budaya/Museum Soeharto2.jpg.crdownload" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/budaya/Museum Soeharto3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">3. Museum Soeharto</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <div class="story">
            <h4>festivals in Indonesia that are no less exciting than other tourist destinations</h4>

            <img src="/image/artikel/curug2.jpg" class="mx-auto d-block" alt="...">

            <p>
                One of the attractions of local and foreign tourists to tourist destinations in Indonesia is local wisdom and culture
            </p>
        </div>

        <button class="mx-auto d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight3" aria-controls="offcanvasRight" style="background-color:black; color: white; border-radius: 25px; margin-bottom: 50px; font-size: 20px; margin-top: 40px;">See the List</button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight3" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
              <h5 id="offcanvasRightLabel">Our Top Pick</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="main-content" style="margin: auto; margin-top: 5%;">
                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/budaya/Festival Lembah Baliem di Raja Ampat1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/budaya/Festival Lembah Baliem di Raja Ampat2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/budaya/Festival Lembah Baliem di Raja Ampat3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">1. Festival Lembah Baliem in Raja Ampat</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>

                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/budaya/Ogoh-Ogoh di Bali1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/budaya/Ogoh-Ogoh di Bali2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/budaya/Ogoh-Ogoh di Bali3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">2. Ogoh-Ogoh in Bali</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>

                <div class="collum">
                    <div class="image-box" style="display: flex;">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="flex-basis: 10%; margin-right: 5%;">
                            <a href="padar" style="text-decoration: none;">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/image/artikel/budaya/Gandrung Sewu di Banyuwangi1.jpg"  alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/budaya/Gandrung Sewu di Banyuwangi2.jpg" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="/image/artikel/budaya/Gandrung Sewu di Banyuwangi3.jpg" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true" style="height: 35px; width: 35px;"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="text" style="flex-basis: 90%;">
                            <h5 style="color: black; margin-top: 3%;">3. Gandrung Sewu in Banyuwangi</h5>
                            <img src="/image/ttd/Rating Star PNG/5star.png" alt="" style="width: 120px; height: 30px; margin-top: -1%; margin-bottom: 3%;">
                            <h6 style="color: black; font-weight: 400;">Nature & Wildlife Areas</h6>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    <%- include('../layout/footer.ejs'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>