<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/universal.css">
    <script src="js/universal.js"></script>
	
    <title>Borobudur</title>
  </head>
  <body>
    <%- include('../layout/navbar.ejs'); %>
    
    <h1 class="title">Borobudur</h1>

    <div class="container_body">
        <div class="about">
            <h2>About</h2>
            <p>
                Borobudur, also transcribed Barabudur is a 7th-century Mahayana Buddhist temple in Magelang Regency, not far from the town of Muntilan, in Central Java, 
                Indonesia. It is the world's largest Buddhist temple. The temple consists of nine stacked platforms, six square and three circular, topped by a central dome.
            </p>
  
            <p>Address&nbsp &nbsp:</p>
          
            <p>Jl. Badrawati, Kw. Candi Borobudur, Borobudur, Kec. Borobudur, Magelang, Jawa Tengah</p>
      
            <p>Call&nbsp &nbsp:</p>
          
            <p>(0293) 788266</p>
  
            <div class="button-container">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#operationalhours">
                Operational Hours
                </button>
            </div>
  
            <div class="modal fade" id="operationalhours" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <li>
                                <ol>Monday : 08.00 - 15.00</ol>
                                <ol>Tuesday : 08.00 - 15.00</ol>
                                <ol>Wednesday : 08.00 - 15.00</ol>
                                <ol>Thursday : 08.00 - 15.00</ol>
                                <ol>Friday : 08.00 - 15.00</ol>
                                <ol>Saturday : 08.00 - 15.00</ol>
                                <ol>Sunday : 08.00 - 15.00</ol>
                            </li>
                        </div>
                    </div>
                </div>
             </div>
  
            <p></p>
            <p>Visit Web&nbsp &nbsp:</p>
            <a href="https://borobudurpark.com/en/temple/borobudur-2/" target="_blank">Click Here</a>   
        </div>
      
        <div class="container_frame">
            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/tDuhIrzBjbQ" title="YouTube video player" >
            </iframe>
  
            <div class="ticket">
                <h4>Tickets</h4>
                <h6>Tickets &nbsp&nbsp:</h6>
                <p>Adult&nbsp&nbsp: IDR 50.000 (Price May Vary)</p> 
                <p>Child&nbsp&nbsp: IDR 25.000 (Price May Vary)</p>
            </div> 
        </div>
      
        <div class="info-container">
            <div class="gmap_canvas">
                <iframe height="325" width="300" class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63274.369377978976!2d110.16444789838778!3d-7.613217594623522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a8cf009a7d697%3A0xdd34334744dc3cb!2sBorobudur%20Temple!5e0!3m2!1sen!2sid!4v1632666328011!5m2!1sen!2sid" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>  
    
    </div>

    <%- include('../layout/footer.ejs'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  </body>
</html>