<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="caa/famousplaces.css">

    <title>Famous Places</title>
  </head>
  <body>
    <%- include('../layout/navbar.ejs'); %>

    <div class="innerbox">

        <div>
            <h1 class="title">Museum</h1>

            <div class="content">

                <div class="maincontent">
                    <a href="purpa" target="_blank" rel="noopener noreferrer">
                        <img src="/image/ttd/shopping/purpa.jpg" alt="">
                        <h4>1. Purpa Fine Art Gallery</h4>                   
                    </a>
                    <div class="rating">
                        <img src="/image/ttd/Rating Star PNG/5star.png" alt="">
                    </div>
                    <div class="text">
                        <p>Purpa Fine Art Gallery offers a unique collection of contemporary art by both established and emerging artists.</p>
                    </div>                                          
                </div>
    
                <div class="maincontent">
                    <a href="batik" target="_blank" rel="noopener noreferrer">
                        <img src="/image/ttd/shopping/batik.jpg" alt="">
                        <h4>2. Museum Tekstil</h4>                      
                    </a>
                    <div class="rating">
                        <img src="/image/ttd/Rating Star PNG/4star.png" alt="">
                    </div>
                    <div class="text">
                        <p>Here you can learn and make Javanese batik</p>
                    </div>                   
                </div>
    
                <div class="maincontent">
                    <a href="nasional" target="_blank" rel="noopener noreferrer">
                        <img src="/image/ttd/shopping/nasional.jpg" alt="">
                        <h4>3.  Museum Nasional Indonesia</h4>                     
                    </a>
                    <div class="rating">
                        <img src="/image/ttd/Rating Star PNG/4star.png" alt="">
                    </div>
                    <div class="text">
                        <p>Opened in 1178 and hold many historical piece from within Indonesia</p>
                    </div>                    
                </div>
            </div>

        </div>

    </div>

    <div class="innerbox">

        <div>
            <h1 class="title">Historical Sites</h1>

            <div class="content">
                <div class="maincontent">
                    <a href="tirta" target="_blank" rel="noopener noreferrer">
                        <img src="/image/ttd/shopping/tirta gangga.jpg" alt="">
                        <h4>1. Tirta Gangga Water Palace</h4>                      
                    </a>
                    <div class="rating">
                        <img src="/image/ttd/Rating Star PNG/4.5star.png" alt="">
                    </div>
                    <div class="text">
                        <p>Former palace of Tirtagangga which you can visit and see the beautiful palace</p>
                    </div>                 
                </div>
    
                <div class="maincontent">
                    <a href="borobudur" target="_blank" rel="noopener noreferrer">
                        <img src="/image/ttd/shopping/borobudur.jpg" alt="">
                        <h4>2. Borobudur Temple</h4>                      
                    </a>
                    <div class="rating">
                        <img src="/image/ttd/Rating Star PNG/4.5star.png" alt="">
                    </div>
                    <div class="text">
                        <p>A once lost temple now found its a 8th century Buddhist temple</p>
                    </div>                   
                </div>
    
                <div class="maincontent">
                    <a href="jakartaold" target="_blank" rel="noopener noreferrer">
                      <img src="/image/ttd/shopping/kota-tua-jakarta-indonesia.jpg" alt="">
                    <h4>3. Jakarta Old Town</h4>                   
                    </a>
                    <div class="rating">
                        <img src="/image/ttd/Rating Star PNG/4star.png" alt="">
                    </div>
                    <div class="text">
                        <p>Before Jakarta there was once Batavia now a quite famous historical sites and a night market</p>
                    </div>                    
                </div>
            </div>

        </div>

    </div>

    <div class="innerbox">

        <div>
            <h1 class="title">Landmarks</h1>

            <div class="content">
                <a href="monas" target="_blank" rel="noopener noreferrer">
                    <div class="maincontent">
                    <img src="/image/ttd/shopping/img/monas.jpg" alt="">
                    <h4></p>1. Monas </h4>                    
                </a>
                <div class="rating">
                    <img src="/image/ttd/Rating Star PNG/4star.png" alt="">
                </div>
                <div class="text">
                    <p>Located at the iconic Jakarta welcome statue</p>
                </div>                
            </div>

            <div class="maincontent">
                <a href="gatotkaca" target="_blank" rel="noopener noreferrer">
                    <img src="/image/ttd/shopping/gatotkaca.jpg" alt="">
                    <h4>2. Satria Gatotkaca Statue</h4>                      
                </a>
                <div class="rating">
                    <img src="/image/ttd/Rating Star PNG/4.5star.png" alt="">
                </div>
                <div class="text">
                    <p>Park with paved paths & flower beds, plus fountains & a striking statue of mythical hero Gatotkaca.</p>
                </div>                     
            </div>

            <div class="maincontent">
                <a href="yogya" target="_blank" rel="noopener noreferrer">
                    <img src="/image/ttd/shopping/yogyamonument.jpg" alt="">
                    <h4>3. Yogyakarta Monument</h4>                      
                </a>
                <div class="rating">
                    <img src="/image/ttd/Rating Star PNG/4star.png" alt="">
                </div>
                <div class="text">
                    <p>It was known as Tugu Golong-Gilig, and was built in the spirit of unity of the people.</p>
                </div>
            </div>
        </div>
    </div>


    <%- include('../layout/footer.ejs'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

  </body>
</html>