<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/shopping.css">

    <title>Shopping</title>
  </head>
  <body>
    <%- include('../layout/navbar.ejs'); %>

    <div class="innerbox">

        <div>
          <h1 class="title">Shopping</h1>
    
            <div class="content">
    
              <div class="maincontent">
                <a href="/More/Things To Do/Shopping/shopping content/gi.html" target="_blank">
                  <img src="/image/ttd/shopping/GI.jpg" alt="">
                  <div class="text">
                    <h4>1. Grand Indonesia</h4>                
                  </div>
                </a>
                <div class="rating">
                    <img src="/image/ttd/Rating Star PNG/4.5star.png" alt="">
                </div>
                <div class="text">
                  <p>Jl. M.H. Thamrin No.1, Kb. Melati, Kec. Menteng, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10310</p>
                </div>
              </div>
                  
              <div class="maincontent">
                <a href="/More/Things To Do/Shopping/shopping content/tunjangan.html" target="_blank">
                  <img src="/image/ttd/shopping/tunjungan.jpeg" alt="">
                  <div class="text">
                    <h4>2. Tunjungan Plaza</h4>                    
                  </div>
                </a>
                <div class="rating">
                    <img src="/image/ttd/Rating Star PNG/4.5star.png" alt="">
                </div>
                <div class="text">
                    <p>Jl. Jenderal Basuki Rachmat No.8-12, Kedungdoro, Kec. Tegalsari, Kota SBY, Jawa Timur 60261</p>
                </div>                  
              </div>
      
              <div class="maincontent">
                <a href="/More/Things To Do/Shopping/shopping content/aeonbsd.html" target="_blank">
                  <img src="/image/ttd/shopping/aeon bsd.jpg" alt="">
                  <div class="text">
                    <h4>3. AEON Mall BSD</h4>
                    <div class="rating">
                  </div>
                </a>
                <div class="rating">
                    <img src="/image/ttd/Rating Star PNG/3.5star.png" alt="">
                </div>
                <div class="text">
                    <p>Jl. BSD Raya Utama, Pagedangan, Kec. Pagedangan, Tangerang, Banten 15345</p>
                </div>                  
              </div>
      
              <div class="maincontent">
                <a href="/More/Things To Do/Shopping/shopping content/mkg.html" target="_blank">
                  <img src="/image/ttd/shopping/mkg.jpg" alt="">
                  <div class="text">
                    <h4>4. Mall Kelapa Gading</h4>                    
                  </div>
                </a>
                <div class="rating">
                    <img src="/image/ttd/Rating Star PNG/4star.png" alt="">
                </div>
                <div class="text"> 
                    <p>East Kelapa Gading, Kelapa Gading, North Jakarta City, Jakarta</p>
                </div>
              </div>
      
              <div class="maincontent">
                <a href="/More/Things To Do/Shopping/shopping content/grandbatam.html" target="_blank">
                  <img src="/image/ttd/shopping/grand batam.jpg" alt="">
                  <div class="text">
                    <h4>5. Grand Batam Shopping Center</h4>                    
                  </div>
                </a>
                <div class="rating">
                    <img src="/image/ttd/Rating Star PNG/4.5star.png" alt="">
                </div>
                <div class="text">
                    <p>Jl. Pembangunan, Batu Selicin, Kec. Lubuk Baja, Kota Batam, Kepulauan Riau 29444</p>
                </div>                 
              </div>
      
              <div class="maincontent">
                <a href="/More/Things To Do/Shopping/shopping content/phinisi.html" target="_blank">
                  <img src="/image/ttd/shopping/phinisi.jpg" alt="">
                  <div class="text">
                    <h4>6. Mall Phinisi Point</h4>                   
                  </div>
                </a>
                <div class="rating">
                    <img src="/image/ttd/Rating Star PNG/4.5star.png" alt="">
                </div>
                <div class="text">
                    <p>Jl. Metro Tj. Bunga No.2, Panambungan, Kec. Mariso, Kota Makassar, Sulawesi Selatan 90121</p>
                </div>                  
              </div>            
    
            </div>
    
        </div>
    
      </div>

    <%- include('../layout/footer.ejs'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

  </body>
</html>