<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/pulau.css">

    <style>
        .text{
  font-size: 1em;
}

*{
    box-sizing: border-box;
}

:root {
    --grid-column-gap: 20px;
}


.carouselPre{
    grid-auto-flow: column;
    display: grid;
    grid-auto-columns: calc((100% - 3 * var(--grid-column-gap))/ 4);
    grid-column-gap: var(--grid-column-gap);
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    list-style: none;
    scroll-behavior: smooth;
    margin-right:5%;
    margin-left: 5%;
}

#title{
    margin: 10px 10px 10px 0;
    font-size: 34px;
    font-weight: 600;
    text-align: center;
}

.topT{
    border-top: 1px solid rgb(212, 212, 212);
    padding: 10px 0;
    font-weight: 600;
    font-size: 20px;
}

.itemsC .textDet{
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    display: flex;
}

.contents{
    color: white;
}

.itemsC .contents p{    
    -webkit-line-clamp: 3;
    text-align: center;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-size: 12px;
    line-height: 1.25;
    font-weight: 400;
    width: 90%;
    margin: auto;
}

.leftTxtDet{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 33px;
}

.itemsC{
    position: relative;
}

.scrolly{
    overflow: hidden;
}

.carouselPre li{
    scroll-snap-align: start;
    width: 16rem;
    height: 23rem;
    background-color: royalblue;
    list-style: none;
    border-radius: 20px;
    overflow: hidden;
}

.carouselPre li .bgImg{
    width: 100%;
    height: 100%;
}

.carouselPre li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scrolly{
    position: relative;
}

#left,#right{
    background-color: rgba(255, 255, 255, 0.9);
    outline: none;
    border: transparent;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    transform: translate(0,-60%);
    cursor: pointer;
    z-index: 2;
}

#left{
    left: 0;
}

#right{
    right: 0;
}
@media screen and (max-width:1200px) {
  .container{
    display: flex;
    flex-direction: column;
  }

  .container .text p{
    text-align: center;
  }
}

@media only screen and (max-width: 890px) {
    .carouselPre {
        grid-auto-columns: calc((100% - 2 * var(--grid-column-gap))/ 3);
        height: 23rem;
    }
  }

@media only screen and (max-width: 660px) {
    .carouselPre {
        grid-auto-columns: calc((100% - 1 * var(--grid-column-gap))/ 2);
        height: 25rem;
    }
  }

@media only screen and (max-width: 440px) {
    .carouselPre {
        grid-auto-columns: 100%;
        height: 25rem;
    }
  }


::-webkit-scrollbar {    
  width: 15px;
height: 15px;
border-left: #ededed solid 1px;
background-color: #fcfcfc;
border-top: #ededed solid 1px;
    }

::-webkit-scrollbar-thumb:hover{
cursor: pointer;
background: #c7c7c7;
width: 15px;
    background-clip: content-box;
    border: 4px solid transparent;
border-radius: 10px;
}

    ::-webkit-scrollbar-button {   
 display: none;
    }

    ::-webkit-scrollbar-thumb {
background: #dbdbdb;
    background-clip: content-box;
    border: 4px solid transparent;
border-radius: 10px;

    }


    .modal .modal-dialog .modal-content .modal-body .btn {
        margin-bottom: 20px;
        height: 50px;
        width: 400px;
        font-weight: 600;
    }

    .modal .modal-dialog .modal-content .modal-body .btn img {
        height: 20px;
    }

    .modal .modal-dialog .modal-content .modal-body a:hover {
        cursor: pointer;
    }

    .modal .modal-dialog .modal-content .modal-body .line2:before, .line2:after {
      content:" ";
        flex:1 0 0%;
      height:2px;
      background:rgba(0,0,0,0.8);
        margin:0 0 0 0;
    }

    .modal .modal-dialog .modal-content .modal-body .line2:after {
        margin:0 0 0 0;
    }
    </style>
    
  </head>
  <body>
    <%- include('../layout/navbar.ejs'); %>

    <div class="body" style="margin-left:5%; margin-right:5%;">      

        <div class="judul"style="display:flex; margin-left:2%;">
          <h1 style="text-align: left;font-size: 4em;color:red ">Explore</h1>
          <h1 style="text-align: left;font-size: 4em;">Sulawesi Selatan</h1>
        </div>
          
      
          
      
        <div class="gambar" style="display: flex;justify-content: center;margin: 15px;">
          <div class="gambar-besar">
              <img src="/image/00pulau kecil/sumatera/selatan/gede.jpg" alt="" height="500px">
          </div>
          <div class="gambar-kecil" style="display: flex;flex-direction: column;">
                <img src="/image/00pulau kecil/sumatera/selatan/kecil1.jpg" alt="" style="height: 250px; width: 500px;">
                <img src="/image/00pulau kecil/sumatera/selatan/kecil 2.jpg" alt="" style="height: 250px; width: 500px;">
          </div>
      </div>
      
              
              
              
            </div><!--penutupan div gambar-->
      
            <div class="container"style="display:flex; align-items:center; margin-top:10%; width: 80%; margin-bottom:10%;">
              <div class="text" style="flex-basis: 70%;text-align: left; margin-right: 5%;">
               
               <h1 style="font-size: 3rem; text-align: center; font-weight: 700;">
                   Tentang Sulawesi Selatan
                   </h1>
               <p>
                  Sumatra Selatan (Abjad Jawi: سومترا سلاتن) adalah provinsi di Indonesia yang terletak di bagian Selatan pulau Sumatra. Ibu kota Sumatra Selatan berada di kota Palembang, dan pada tahun 2020 penduduk provinsi ini berjumlah 8.467.432 jiwa.[2] Secara geografis, Sumatra Selatan berbatasan dengan provinsi Jambi di utara, provinsi Kepulauan Bangka-Belitung di timur, provinsi Lampung di selatan dan Provinsi Bengkulu di barat. Provinsi ini kaya akan sumber daya alam, seperti minyak bumi, gas alam dan batu bara. Selain itu, ibu kota provinsi Sumatra Selatan, Palembang, telah terkenal sejak dahulu karena menjadi pusat Kerajaan Sriwijaya.
          </p>
              </div><!--penutupan div text-->
              <div class="gmap_canvas"style="flex-basis: 30%; margin-left:5%; ">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4084069.089157033!2d97.9992326285194!3d-1.5551562917068218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e108b753d35ea2d%3A0x18fc8101e201c4cf!2sSumatera%20Selatan!5e0!3m2!1sid!2sid!4v1632706985886!5m2!1sid!2sid" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
      
            </div><!--penutupan div container-->
      
      
       
         
              <h1 id="title" style="text-align: center;">DESTINATION</h1>
          
              <div class="scrolly">
                 
                <ul class="carouselPre">
                  <li class="itemsC">
                      <div class="contents">
                          <h1 class="leftTxtDet">Jembatan Ampera</h1>
                          <div class="textDet" style="background-color: black"><p>Merupakan jembatan terbesar di Sumatera yang membelah Sungai Musi.</p></div>
                      </div>
                      <a href="https://regional.kompas.com/read/2021/03/21/151952378/sejarah-jembatan-ampera-yang-jadi-ikon-kota-palembang?page=all">
                      <div class="bgImg"><img src="/image/00pulau kecil/sumatera/selatan/d1 Jembatan Ampera.jfif" alt="image" srcset=""></div>
                    </a>
                  </li>
                  <li class="itemsC">
                      <div class="contents">
                          <h1 class="leftTxtDet">Goa Putri</h1>
                          <div class="textDet" style="background-color: black"><p>berlokasi di Desa Padang Rindu dengan pemandangan yang sangat indah.</p></div>
                      </div>
                      <a href="https://daerah.sindonews.com/read/302816/29/goa-putri-dan-cerita-kutukan-sipahit-lidah-terhadap-dayang-merindu-1610712103">
                      <div class="bgImg"><img src="/image/00pulau kecil/sumatera/selatan/d2 goa  putri.jpg" alt="image" srcset=""></div>
                    </a>
                  </li>
                  <li class="itemsC">
                      <div class="contents">
                          <h1 class="leftTxtDet">Pulau Kemaro</h1>
                          <div class="textDet" style="background-color: black"><p>terletak di tengah Sungai Musi terletak 6KM dari jembatan Ampera.. </p></div>
                      </div>
                      <a href="https://indonesiakaya.com/pustaka-indonesia/kisah-tan-bun-an-yang-melegenda-di-pulau-kemaro/?gclid=Cj0KCQjwtMCKBhDAARIsAG-2Eu-01XQotKcqGrt2xxDTlOm_B3GwapNjqvOntNMgh9sil8fPEoeMFEoaAq1EEALw_wcB">
                      <div class="bgImg"><img src="/image/00pulau kecil/sumatera/selatan/d3 Pulau Kemaro.jpg" alt="image" srcset=""></div>
                    </a>
                  </li>
                 
          
              </ul>
          </div>
          <h1 id="title">FOOD</h1>
          
          
              <div class="scrolly">
                  
                <ul class="carouselPre">
                  <li class="itemsC">
                      <div class="contents">
                          <h1 class="leftTxtDet">Abang Kepiting Restaurant</h1>
                          <div class="textDet" style="background-color: black"><p>Banyak pilihan dengan cita rasa makanan yang berbeda untuk yang suka seafood.</p></div>
                      </div>
                      <a href="https://vymaps.com/ID/Abang-Kepiting-1695681/">
                      <div class="bgImg"><img src="/img/00pulau kecil/kalimantan/kalimantan barat/makanan 1 abang kepiting.jpg" alt="image" srcset=""></div>
                    </a>
                  </li>
                  <li class="itemsC">
                      <div class="contents">
                          <h1 class="leftTxtDet">Mietiau Apollo</h1>
                          <div class="textDet" style="background-color: black"><p>Mie Tiaw Apollo Pontianak termasuk salah satu kuliner legendaris menemani pelanggannya dari tahun 1968an</p></div> 
                      </div>
                      <a href="https://travelingyuk.com/mie-tiaw-apollo-pontianak/202718">
                      <div class="bgImg"><img src="/img/00pulau kecil/kalimantan/kalimantan barat/makanan 2 kwetiau appolo.jpg" alt="image" srcset=""></div>
                    </a>
                  </li>
                  <li class="itemsC">
                      <div class="contents">
                          <h1 class="leftTxtDet">Nasi Akwang</h1>
                          <div class="textDet" style="background-color: black"><p>salah satu Nasi Campur terenak senusantara, Nasi Campur Akwang di Pontianak.</p></div>
                      </div>
                      <a href="https://vymaps.com/ID/Nasi-Akwang-4622391/">
                      <div class="bgImg"><img src="/img/00pulau kecil/kalimantan/kalimantan barat/makanan 3 nasi akwang.jpg" alt="image" srcset=""></div>
                    </a>
                  </li>
                  
          
              </ul>
          </div>
          
          
      
            
              
      
          </div><!-- penutupan div body-->
          

    <%- include('../layout/footer.ejs'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>