<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/universal.css">
    <script src="js/universal.js"></script>
	
    <title>Trans Studio Bandung</title>
  </head>
  <body>
    <%- include('../layout/navbar.ejs'); %>
    
    <h1 class="title">Trans Studio Bandung</h1>

    <div class="container_body">
        <div class="about">
            <h2>About</h2>
            <p>
                Family-focused indoor theme park with thrill rides, a theater & play areas for younger children.
            </p>
          
            <p>Address&nbsp &nbsp:</p>
          
            <p>Jalan Jendral Gatot Subroto No.289 A, Cibangkong, Batununggal, Bandung City, West Java 40273</p>
      
            <p>Call&nbsp &nbsp:</p>
          
            <p>(022) 86012555</p>
  
            <div class="button-container">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#operationalhours">
                Operational Hours
                </button>
            </div>
  
            <div class="modal fade" id="operationalhours" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <li>
                                <ol>Monday : 11:00-17:00</ol>
                                <ol>Tuesday : 11.00 - 17.00</ol>
                                <ol>Wednesday : 11.00 - 17.00</ol>
                                <ol>Thursday : 11.00 - 17.00</ol>
                                <ol>Friday : 11.00 - 17.00</ol>
                                <ol>Saturday : 11.00 - 17.00</ol>
                                <ol>Sunday : 11.00 - 17.00</ol>
                            </li>
                        </div>
                    </div>
                </div>          
            </div>
  
            <p></p>
            <p>Visit Web&nbsp &nbsp:</p>
            <a href="https://www.transstudiobandung.com/" target="_blank">Click Here</a>
        </div>
      
        <div class="container_frame">
            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/0hT3RSXI0qE" title="YouTube video player" >
            </iframe>
  
            <div class="ticket">
                <h4>Tickets</h4>
                <h6>Weekday &nbsp&nbsp:</h6>
                  <p>IDR 180.000 (Price Might Vary)</p>
                <h6>Weekend &nbsp&nbsp :</h6>
                  <p>IDR 280.000 (Price Might Vary)</p>
            </div>  
        </div>
      
        <div class="info-container"> 
            <div class="gmap_canvas">
                <iframe height="325" width="300" class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.706556620256!2d107.63421511459282!3d-6.925637444996038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e7d87e72aefd%3A0xd2572025945d3808!2sTrans%20Studio%20Bandung!5e0!3m2!1sen!2sid!4v1632661348953!5m2!1sen!2sid" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>  
        </div>  
    
    </div>

    <%- include('../layout/footer.ejs'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  </body>
</html>