body {
   
    background-size: 100%;
    background-repeat: repeat; 
    background-attachment: fixed;
    
}

.title {
    text-align: left;
    margin-left: 8%;
    margin-right: 57%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    
}

.carousel-inner .carousel-item {
    width: 80%;
}

.carousel-inner .carousel-item .img{
    justify-content: center;
}