.maintitle {
    margin: 15px;
}

.maincontainer {
    margin:  15px 50px 25px 50px;
}

.cities {
    border: dotted grey;
    border-radius: 15px;
    padding: 10px;
    display: block;
    min-width: 80%; 
}

.column {
    float: left;
    width: 100%;
    padding: 15px;
}

.column img {
    width: 200px;
    height: 140px;
    float: left;
    margin: 2px;
    border-radius: 15px;
}

.row {
    margin: 5px;
    display: block;
    flex-direction: column;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.text {
    margin-left: 14%;
    text-align: left;
    padding-left: 25px;
    max-height: 128px;
}

a {
    text-decoration: none;
    color: black;
}

.rating img{
    margin-top: -8px;
    height: 28px;
    width: 125px;
}

@media screen and (max-width:1500px) {
    .column {
      width: 100%;
    }
    .text {
        margin: 5px;
        padding: 10px;
    }
}

@media screen and (max-width:1000px) {
    .column {
      width: 100%;
      padding-bottom: 20%;
      display: flex;
    }
    .text {
        margin-left: 0%;
        padding: 10px;
        display: block;
    }
}