.maintitle {
    margin: 15px;
    border: solid;
}

.maincontainer {
    border: solid red;
    margin: 15px;
    display: flex;
}

.wildlife {
    border: solid blue;
    padding: 10px;
    
}

.nature {
    border: solid blue;
    padding: 10px;
    display: block;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    border: solid yellow;
    
}

.row {
    border: solid green;
    margin: 5px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
}