h1{
    text-align: center;
}

.link-container{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 195px;
    display: flex;
}

.link-container nav {
    margin-right: 200px;
}

.search-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 210px;
}

.search-bar form {
    margin-top: -190px;
    margin-left: 280px;
}

.search-bar img {
    height: 333px;
    width: 100%;
}

.carousel-inner .carousel-item .cards{
    display: flex;
    text-align: center;
    margin-left: 150px;
}

.carousel-inner .carousel-item .card{
    margin-right: 50px;
}

.carousel-inner .carousel-item .card img{
    height: 200px;
}

.recomendation {
    display: flex;
}

.recomendation .recomendation-item{
    align-items: center;
    text-decoration: none;
}

.recomendation .recomendation-item img{
    width: 200px;
    height: 200px;
}

.card-container{
    display: flex;
}

.card-container .card img{
    width: 287px;
    height: 200px;
}
