h1{
    text-align: center;
}

.link-container{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.link-container nav {
    margin-left: 70px;
    margin-right: 70px;
}

.search-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 210px;
}

.search-bar form {
    margin-top: -190px;
    justify-content: center;
}

.search-bar img {
    height: 333px;
    width: 100%;
}

.carousel-inner .carousel-item .cards3{
    display: flex;
    text-align: center;
    justify-content: center;
}

.carousel-inner .carousel-item .cards3 .card{
    margin-left: 25px;
    margin-right: 25px;
}

.carousel-inner .carousel-item .cards2{
    display: flex;
    text-align: center;
    justify-content: center;
}

.carousel-inner .carousel-item .cards2 .card{
    margin-left: 25px;
    margin-right: 25px;
}

.carousel-inner .carousel-item img{
    height: 200px;
}

.recomendation {
    display: flex;
}

.recomendation .recomendation-item{
    align-items: center;
    text-decoration: none;
}

.recomendation .recomendation-item img{
    width: 200px;
    height: 200px;
}